
<div class="jumbotron center"> <!-- added 'center' to jumbotron-->
	<p>Observe a Public Concern
		<span class="glyphicon glyphicon-arrow-right"></span>
		Take a Picture
		<span class="glyphicon glyphicon-arrow-right"></span>
		Post
		<span class="glyphicon glyphicon-arrow-right"></span>
		We'll send it to the government.
	</p>
	<p>For America.</p>


		<p>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success btn-lg" %>

		</p>
</div>