<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          English
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        Project Folk is a place where the general public can stay involved directly with their local and federal governments.  By posting pictures of anything from roads, public buildings, public lights, public school, and anything in the public, feel free to post a need.  Stay involved and help your community!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          简化中国
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        Folkright是一般公众可以停留的地方，与当地政府和联邦政府直接参与。通过道路，公共建筑，公共照明灯，公立学校，以及任何在公共张贴图片的东西，感觉自由交的需要。继续参与和帮助你的社区！
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          ភាសាខ្មែរ
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        Folkright គឺជាកន្លែងដែលសាធារណជនទូទៅអាចស្នាក់នៅដែលជាប់ទាក់ទងដោយផ្ទាល់ជាមួយរដ្ឋាភិបាលក្នុងស្រុកនិងសហព័ន្ធរបស់ពួកគេ។ ដោយប្រកាសរូបភាពនៃការអ្វីពីផ្លូវថ្នល់អគារសាធារណៈពន្លឺសាធារណៈសាលារៀនសាធារណៈនិងអ្វីនៅក្នុងសាធារណៈមានអារម្មណ៍ដោយឥតគិតថ្លៃដើម្បីប្រកាសតម្រូវការចាំបាច់មួយ។ Stay ដែលជាប់ទាក់ទងនិងការជួយសហគមន៍របស់អ្នក!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Việt
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        Folkright là một nơi mà công chúng có thể ở lại tham gia trực tiếp với chính quyền địa phương và liên bang. Bằng việc đưa hình ảnh của bất cứ điều gì từ những con đường, công trình công cộng, đèn chiếu sáng công cộng, trường công lập, và bất cứ điều gì trong công chúng, cảm thấy tự do để gửi một nhu cầu. Hãy tham gia và giúp đỡ cộng đồng của bạn!
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Swahili
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        Folkright ni mahali ambapo wananchi kwa ujumla wanaweza kukaa wanaohusika moja kwa moja na serikali zao za mitaa na ya shirikisho. Na posting picha ya kitu chochote kutoka barabara, majengo ya umma, umma taa, shule ya umma, na kitu chochote katika umma, kujisikia huru baada ya haja. Kukaa wanaohusika na kusaidia jamii yako!
      </div>
    </div>
  </div>
</div>
